neuralprophet>=0.6.0        # se for usar a aba NeuralProphet
tensorflow-cpu>=2.12        # se for usar a aba LSTM
optuna>=3.0.0               # se for usar a aba Optuna
reportlab>=3.6.12           # se for gerar PDF
plotly>=5.0
yfinance>=0.2.40
lightgbm>=4.0
xgboost>=1.7
scikit-learn>=1.3
pandas>=2.0
numpy>=1.23
